[submodule "packages/ipynb-components"]
	path = packages/ipynb-components
	url = git@github.com:artemkons/manuspect-ipynb-components.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = git@github.com:artemkons/manuspect-frontend.git
